.allDaysBlock {
	margin: 20px;
}

.allDaysBlock div {
	margin-left: 10px;
	margin-bottom: 5px;
}

.allDaysBlock .cra-halfUp-false.cra-halfDown-false {
	background-color: #73B8FF ;
	background-image: none;
}

.allDaysBlock .cra-halfUp-false {
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0.5, #73B8FF),
		color-stop(0.5, #007BFF)
	);
	background-image: -o-linear-gradient(right bottom, #73B8FF 50%, #007BFF 50%);
	background-image: -moz-linear-gradient(right bottom, #73B8FF 50%, #007BFF 50%);
	background-image: -webkit-linear-gradient(right bottom, #73B8FF 50%, #007BFF 50%);
	background-image: -ms-linear-gradient(right bottom, #73B8FF 50%, #007BFF 50%);
	background-image: linear-gradient(to right bottom, #73B8FF 50%, #007BFF 50%);
}

.allDaysBlock .cra-halfDown-false {
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0.5, #007BFF),
		color-stop(0.5, #73B8FF)
	);
	background-image: -o-linear-gradient(right bottom, #007BFF 50%, #73B8FF 50%);
	background-image: -moz-linear-gradient(right bottom, #007BFF 50%, #73B8FF 50%);
	background-image: -webkit-linear-gradient(right bottom, #007BFF 50%, #73B8FF 50%);
	background-image: -ms-linear-gradient(right bottom, #007BFF 50%, #73B8FF 50%);
	background-image: linear-gradient(to right bottom, #007BFF 50%, #73B8FF 50%);
}
