logs
project/project
project/target
target
tmp
/node_modules
/fac-node_modules
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test-result
test-results.xml
/test/angular-test/*.xml
data/
*.DS_Store
*.pyc
*.class
*.iml
*.ipr
/node_modules
fac-stemi/

