<div>
    <div class="form-group">
        <label>Client</label>
        <lt-client-search client="client"></lt-client-search>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Coordonnées du client</div>

        <div class="panel-body">
            <div class="form-group">
                <input type="text" class="form-control" name="clientName" id="clientName"
                       placeholder="Nom du client" ng-readonly="client._id" ng-model="client.name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="clientAddress" id="clientAddress"
                       placeholder="Adresse du client" ng-readonly="client._id"
                       ng-model="client.address">
            </div>

            <div class="form-group row">
                <div class="col-md-5">
                    <input type="text" class="form-control" name="clientPostalCode" id="clientPostalcode"
                           placeholder="Code postal" ng-readonly="client._id"
                           ng-model="client.postalCode">
                </div>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="clientCity" id="clientCity"
                           placeholder="Ville du client" ng-readonly="client._id"
                           ng-model="client.city">
                </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="clientCountry" id="clientCountry"
                       placeholder="Pays du client" value="France" ng-readonly="client._id"
                       ng-model="client.country">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="clientExtraInfo" id="clientExtraInfo"
                       placeholder="Mentions supplémentaires (facultatif)">
            </div>
        </div>
    </div>
</div>