@(client: domain.Client, days: List[domain.ActivityDay], numberOfDays: Double, tjm: Double)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <title>CRA @{
            days.head.day.toString("MM/yyyy")
        }</title>
    </head>
    <body>
        <div>Lateral-Thoughts</div>
        <div>Compte-Rendu de Prestation</div>

        <div>
            <ul>
                <li>Nom du consultant :</li>
                <li>Téléphone :</li>
            </ul>
        </div>

        <div>
            Nom du client : @{
            client.name
        }
        </div>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Lieu de la Prestation</th>
                    <th>Jour travaillé</th>
                </tr>
            </thead>
            <tbody>
            @for(day <- days) {
                <tr>
                    <td>
                    @day.day.toString("dd/MM/yyyy")
                    </td>
                    <td>
                    @if(day.halfDown || day.halfUp) {
                        @client.name
                    } else {
                        -
                    }
                    </td>
                    <td>
                    @day match {
                        case domain.ActivityDay(_, true, true) => {1}
                        case domain.ActivityDay(_, false, true) => {0.5}
                        case domain.ActivityDay(_, true, false) => {0.5}
                        case _ => {-}
                    }
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total de jours travaillés</td>
                    <td>@{numberOfDays}</td>
                </tr>
            </tfoot>
        </table>

        <div>
            <div>
                <div>Déclaration du consultant :</div>
                <div>
                    Je confirme que les heures mentionnées ci-dessus sont conformes aux heures effectivement travaillées par mes soins</div>
            </div>

            <div>
                Signature
                Date : @{
                org.joda.time.LocalDate.now().toString("dd/MM/yyyy")
            }
                Nom :
            </div>
        </div>

        <div>
            <div>
                <div>Déclaration du client :</div>
                <div>
                    Je confirme que les heures mentionnées ci-dessus sont conformes aux heures effectivement travaillées par le consultant</div>
            </div>

            <div>
                Signature :
                Date :
                Nom :
                Pour la société : @{
                client.name
            }
            </div>
        </div>
    </body>


</html>