<h2>Créer un nouveau Budget</h2>

<form action="/api/accounts" method="POST" role="form">

    <div class="form-group">
        <select class="form-group" name="memberId" ng-model="Member" ng-options="member.fullName +' (' + member.email + ')' for member in members track by member._id.$oid">
            <option value="">---- Sélectionner ----</option>
        </select>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="accountName" id="name" placeholder="Nom du Budget">
    </div>

    <button type="submit" class="btn btn-success">Créer le Budget</button>

</form>