<h2>Liste des membres et assimilés LT</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Avatar</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Accounts</th>
        <th>Points gagnés</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in members">
        <td><img ng-src="{{ item.avatarUrl }}"/></td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.email }}</td>
        <td><ul><li ng-repeat="account in item.accounts">{{ account.name }}</li></ul></td>
        <td></td>
    </tr>
    </tbody>
</table>