<h2>Créer une nouvelle activité</h2>

<form class="form" ng-submit="submit()" ng-controller="CreateCtrl" name="activityCreationForm" novalidate>

    <div class="row">

        <h4>Indiquez les informations générales :</h4>

        <div class="facture_info_form col-md-6">

            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" step="any" class="form-control" ng-model="cra.title" name="title" id="title"
                       placeholder="Indiquez le titre de l'activité">
            </div>

            <div class="form-group">
                <label for="contractor">Nom du prestataire</label>
                <input type="text" class="form-control" name="contractor" id="contractor" ng-model="cra.contractor"
                       placeholder="Indiquez le prestataire qui a effectué l'activité">
            </div>

        </div>

        <div class="client_form col-md-6">
            <lt-client-select client="cra.client"></lt-client-select>
        </div>

        <h4>Sélectionnez vos dates d'activité : </h4>

        <div class="well" style="overflow : auto">
            <div id="reportrange" class="pull-right"
                 style="background : #fff ; cursor : pointer ; padding : 5 px 10 px ; border : 1 px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span></span> <b class="caret"></b>
            </div>
        </div>
        <div class="allDaysBlock">
            <table class="table">
                <thead>
                <tr>
                    <td>Lardi</td>
                    <td>Mondi</td>
                    <td>Credi</td>
                    <td>Ze-dit</td>
                    <td>Friture-Day</td>
                    <td>Sadi</td>
                    <td>Gromanche</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="week in weeks">
                    <td ng-repeat="day in week">
                        <lt-day-block ng-if="day.day" day="day"></lt-day-block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div></div>

        <button type="submit" class="btn btn-success pull-right">Soumettre</button>
    </div>
</form>
