<h2>Liste des activités</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th>Prestataire</th>
        <th>Client</th>
        <th>Document</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in activities">

        <td>{{ item.activity.days[days.length-1].day}}</td>
        <td>{{ item.activity.contractor }}</td>
        <td>{{ item.activity.client.name }}</td>
        <td>
            <a href="/api/activity/document/{{ item._id.$oid }}">Voir le CRA (Fichier PDF)</a>
        </td>
        <td>
            <button ng-click="deleteActivity(item._id.$oid)">delete</button>
        </td>
    </tr>
    </tbody>
</table>