<h2>Liste des activités</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Prestataire</th>
        <th>Client</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in activities">

        <td>{{ item.activity.title }}</td>
        <td>{{ item.activity.contractor }}</td>
        <td>{{ item.activity.client.name }}</td>
        <td>
            <p><a href="/api/activity/document/{{ item._id.$oid }}">Voir le CRA (Fichier PDF)</a></p>
            <p ng-show="item.invoiceId"><a href="/api/invoices/document/{{ item.invoiceId.$oid }}">Voir la facture associée (Fichier PDF)</a></p>
            <p><button class="btn btn-primary" ng-click="deleteActivity(item._id.$oid)">Supprimer l'activité</button></p>
            <p ng-hide="item.invoiceId"><button class="btn btn-primary" ng-click="open(item)">Générer la facture associée</button></p>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="invoiceGenerationModal" tabindex="-1" role="dialog" aria-labelledby="invoiceGenerationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="invoiceGenerationModalLabel">Informations complémentaires pour la génération de la facture</h4>
            </div>
            <div class="modal-body">
                <div class="facture_info_form">
                    <div class="form-group">
                        <label>Numéro de Facture</label>
                        <input type="text" class="form-control" ng-model="invoiceRequest.invoiceNumber" name="invoiceNumber" id="number" placeholder="Numéro de facture">
                    </div>

                    <div class="form-group">
                        <label>Titre de la Facture</label>
                        <input type="text" class="form-control" ng-model="invoiceRequest.title" name="title" id="title" placeholder="Titre de la facture">
                    </div>

                    <div class="form-group">
                        <label>TJM</label>
                        <input type="number" class="form-control" ng-model="invoiceRequest.invoice[0].dailyRate" name="tjm" id="tjm" placeholder="Taux Journalier Moyen">
                    </div>

                    <div class="form-group delais_jour row">
                        <div class="col-md-9"><label for="paymentDelay">Délai de paiement (en jours) :</label></div>
                        <div class="col-md-3"><input class="form-control" type="text" class="form-control" ng-model="invoiceRequest.paymentDelay" name="paymentDelay" id="paymentDelay" placeholder="Délai de paiement"></div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-9"><label>Avec ou sans taxes :</label></div>
                        <div class="col-md-3">
                            <div class="btn-group raw" data-toggle="buttons">
                                <label class="btn btn-primary active col-md-6">
                                    <input type="radio" ng-model="taxes" radio-detect-change name="paymentTaxesIncluded" value="true" checked> TTC
                                </label>
                                <label class="btn btn-primary col-md-6">
                                    <input type="radio" ng-model="taxes" radio-detect-change name="paymentTaxesIncluded" value="false" > HT
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Taux de TVA</label>
                        <input type="number" class="form-control" ng-model="invoiceRequest.invoice[0].taxRate" ng-readonly="$eval(taxes) == false" name="taxRate" id="taxRate" placeholder="Taux de TVA">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" ng-click="createInvoice()">Soumettre</button>
            </div>
        </div>
    </div>
</div>