<h2>Liste des activités</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Titre</th>
        <th>Prestataire</th>
        <th>Client</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in activities">

        <td>{{ item.activity.title }}</td>
        <td>{{ item.activity.contractor }}</td>
        <td>{{ item.activity.client.name }}</td>
        <td>
            <p><a href="/api/activity/document/{{ item._id.$oid }}">Voir le CRA (Fichier PDF)</a></p>
            <p><button class="btn btn-primary" ng-click="deleteActivity(item._id.$oid)">Supprimer l'activité</button></p>
        </td>
    </tr>
    </tbody>
</table>