@page {
    size: A4;
}

.cra_header {
	margin-top: 20px;
}

.cra_header .company .logo {
	width: 150px;
	height: auto;
}

.cra_header .title {
	font-weight: bold;
    text-align: center;
    font-size: 23px;
    margin-top: 10px;
}

.cra_header .subtitle {
    text-align: center;
    font-size: 21px;
    margin-bottom: 10px;
}

.consultant_header {
    font-weight: bold;
    margin-bottom: 5px;
}

.client_header {
    font-weight: bold;
    margin-bottom: 5px;
}

.days_table {
    width: 100%;
    font-size: 10px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000000;
    margin-bottom: 10px;
    table-layout: fixed;
}

.days_table .trhead {
    font-weight: bold;
    background-color: darkgray;
    font-size: 12px;
    border-bottom: 1px solid #000000;
}

.days_table .thhead {
    border-right: 1px solid #000000;
}

.days_table .trbody {
    border-right: 1px solid #000000;
}

.days_table .th {
    border-bottom: 1px solid #000000;
}

.consultant_footer {
    margin-bottom: 30px;
 }

.consultant_footer .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.consultant_footer .content {
    margin-bottom: 5px;
}

.consultant_footer .table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.consultant_footer .row {
    display: table-row;
}

.consultant_footer .cell {
    display: table-cell;
}

.days_table .tr {
    border-left: 1px solid #000000;
}

.days_table .tdfoot {
    font-size: 12px;
    font-weight: bold;
    background-color: darkgray;
}