.invoice_header {
	margin-top: 20px;
}

.invoice_header .company .logo {
	width: 150px;
	height: auto;
}

.invoice_header .invoice_number, .invoice_header .name {
	font-weight: bold;
}

.container {
	width: 100%;
	height: 27cm;
}