@(googleAuthUrl: String)(implicit request: play.api.mvc.RequestHeader)

@main(googleAuthUrl) {
    <div data-ng-controller="ClientController">
        <div class="row">
            <lt-client-search></lt-client-search>
        </div>
        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-heading">Création d'un nouveau client</div>
                <div class="panel-body">
                    <form action="/api/invoice" method="POST" role="form">

                        <div class="form-group">
                            <label for="clientName">Nom du client</label>
                            <input type="text" class="form-control" name="clientName" id="clientName" placeholder="Nom du client">
                        </div>

                        <div class="form-group">
                            <label for="clientAddress">Adresse du client</label>
                            <input type="text" class="form-control" name="clientAddress" id="clientAddress" placeholder="Adresse du client">
                        </div>

                        <div class="form-group">
                            <label for="clientCity">Ville du client</label>
                            <input type="text" class="form-control" name="clientCity" id="clientCity" placeholder="Ville du client">
                        </div>

                        <div class="form-group">
                            <label for="clientPostalcode">Code postal du client</label>
                            <input type="text" class="form-control" name="clientPostalCode" id="clientPostalcode" placeholder="Code postal du client">
                        </div>

                        <button type="submit" class="btn btn-success">Ajouter un nouveau client</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
}