@(googleAuthUrl: String)(content: Html)(implicit request: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html>
    <head>
        <title>Invoice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/daterangepicker-bs3.css")"/>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/cra.css")"/>
        
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/app.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/modules/clients.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/modules.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/directives/day-block.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/angular/directives/client-search.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.fileDownload.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/moment-range.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/daterangepicker.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.10.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
    </head>
    <body ng-app="fac-stemi">
        
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li @if(request.uri == routes.Application.index.url){class="active"}><a href="@routes.Application.index">Home</a></li>
          <li @if(request.uri == routes.Application.cra.url){class="active"}><a href="@routes.Application.cra">Cra</a></li>
          <li @if(request.uri == routes.ClientController.clientsView.url){class="active"}><a href="@routes.ClientController.clientsView">Clients</a></li>
          <li @if(request.uri == routes.Application.auth.url){class="active"}><a href="@googleAuthUrl">@if(request.session.get("token")) { Re-new access token } else { Log in } </a></li>
        </ul>
        <h3 class="text-muted">Invoice&#64;LT</h3>
      </div>
      
      @content

      <div class="footer">
        <p>&copy; Lateral-Thoughts 2014</p>
      </div>
    </body>
</html>
