@(client: domain.ClientRequest, days: List[domain.ActivityDay], numberOfDays: Double, contractor:String, subtitle:String)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/activity_pdf.css")" media="all"/>
        <title>CRA @{
            days.head.day.toString("MM/yyyy")
        }</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="cra_header col-xs-4">
                    <p class="company">
                        <img class="logo" alt="Lateral Thoughts" src="@routes.Assets.at("images/logo.png")"/><br/>
                        <span class="name">Lateral Thoughts SAS</span><br/>
                        <span class="address">37, rue des Mathurins<br/> 75008 Paris</span>
                    </p>
                    <div class="title">Compte-Rendu de Prestation</div>
                    <div class="subtitle">@{subtitle}</div>
                </div>
            </div>

            <div class="consultant_header">
                Nom du consultant : @{contractor}
            </div>

            <div class="client_header">
                Nom du client : @{
                client.name
            }
            </div>

            <table class="days_table">
                <thead>
                    <tr class="days_table trhead">
                        <th class="days_table thhead">Date</th>
                        <th class="days_table thhead">Lieu de la Prestation</th>
                        <th class="days_table thhead">Jour travaillé</th>
                    </tr>
                </thead>
                <tbody>
                @for(day <- days) {
                    <tr class="days_table tr">
                        <td class="days_table td">
                        @day.day.toString("dd/MM/yyyy")
                        </td>
                        <td class="days_table td">
                        @if(day.halfDown || day.halfUp) {
                            @client.name
                        } else {
                            -
                        }
                        </td>
                        <td class="days_table td">
                        @day match {
                            case domain.ActivityDay(_, true, true) => {1}
                            case domain.ActivityDay(_, false, true) => {0.5}
                            case domain.ActivityDay(_, true, false) => {0.5}
                            case _ => {-}
                        }
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="days_table tdfoot" colspan="2">Total de jours travaillés</td>
                        <td class="days_table tdfoot">@{
                            numberOfDays
                        }</td>
                    </tr>
                </tfoot>
            </table>

            <div class="consultant_footer">
                <div>
                    <div class="consultant_footer title">Déclaration du consultant :</div>
                    <div class="consultant_footer content">
                        Je confirme que les heures mentionnées ci-dessus sont conformes aux heures effectivement travaillées par mes soins</div>
                </div>

                <div class="consultant_footer table">
                    <div class="consultant_footer row">
                        <div class="consultant_footer cell">Nom : @{contractor} </div>
                        <div class="consultant_footer cell">Date : @{
                            org.joda.time.LocalDate.now().toString("dd/MM/yyyy")
                        }</div>
                    </div>
                    <div class="consultant_footer row">
                        <div class="consultant_footer cell">Signature :</div>
                    </div>
                </div>
            </div>

            <div class="consultant_footer">
                <div>
                    <div class="consultant_footer title">Déclaration du client :</div>
                    <div class="consultant_footer content">
                        Je confirme que les heures mentionnées ci-dessus sont conformes aux heures effectivement travaillées par le consultant</div>
                </div>

                <div class="consultant_footer table">
                    <div class="consultant_footer row">
                        <div class="consultant_footer cell">Nom :</div>
                        <div class="consultant_footer cell">Pour la société : @{
                            client.name
                        }</div>
                        <div class="consultant_footer cell">Date : .../.../......</div>
                    </div>
                    <div class="consultant_footer row">
                        <div class="consultant_footer cell">Signature :</div>
                    </div>
                </div>
            </div>
        </div>
    </body>


</html>