<h2>Factures en retard de paiement</h2>

<div>
    <p>Il y a actuellement <strong>{{ delayedInvoicesNumber }} factures</strong> en retard de paiement représentant <strong>{{ delayedInvoicesTotalHT }} € HT</strong> à recouvrer ({{ delayedInvoicesTotalTTC }} € TTC)</p>
    <p>Parmi ces factures, <strong>{{ delayedThirtyDaysInvoicesNumber }} factures</strong> en retard de paiement depuis plus de 30 jours représentant <strong>{{ delayedThirtyDaysInvoicesTotalHT }} € HT</strong> à recouvrer ({{ delayedThirtyDaysInvoicesTotalTTC }} € TTC)</p>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Facture</th>
        <th>Retard de Paiement</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in invoices" class="danger">

        <td><h4>{{ item.invoice.title }} ({{ item.invoice.invoiceNumber }})</h4>
            <ul>
                <li><strong>Client : </strong>{{ item.invoice.client.name }} </li>
                <li><strong>Montant HT : </strong>{{ item.totalHT() }}€</li>
                <li><strong>Montant TTC : </strong>{{ item.totalTTC() }}€</li>
            </ul>
        <td>
            <strong>{{item.delayInDays}} Jours</strong>
        </td>
        <td>
            <p><a ng-click="openInvoiceModal(item)">Afficher la facture (PDF)</a></p>
            <p><button class="btn btn-primary" ng-click="pay(item)">La facture a été payée</button></p>
            <p><button class="btn btn-primary" ng-click="cancel(item)" ng-confirm-click="Êtes-vous sur de vouloir annuler votre facture ?">Annuler la facture</button></p>
        </td>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            </div>
            <div class="modal-body">
                <object width="100%" height="1200" type="application/pdf" data="{{invoicePdfUrl}}" id="pdf_content">
                    <p>Votre navigateur ne permet pas d'afficher les PDF</p>
                </object>
            </div>
        </div>
    </div>
</div>