<h2>Liste des factures</h2>

<div>
    <div class="col-md-4 form-group">
        <label>Éditeur : </label>
        <div class="btn-group" dropdown >
            <button type="button" class="btn btn-primary dropdown-toggle">
                {{selectedCreator.label}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" >
                <li ng-repeat="creator in creators"><a ng-click="filterCreator(creator)">{{creator.label}}</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4 form-group">
        <label>Client : </label>
        <div class="btn-group" dropdown >
            <button type="button" class="btn btn-primary dropdown-toggle">
                {{selectedClient}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" >
                <li ng-repeat="client in clients"><a ng-click="filterClient(client)">{{client}}</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4 form-group center-block">
        <label>Status : </label>
        <div class="btn-group" dropdown >
            <button type="button" class="btn btn-primary dropdown-toggle">
                {{selectedStatus}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" >
                <li><a ng-click="filterStatus('Tous')">Tous</a></li>
                <li class="divider"></li>
                <li ng-repeat="status in inProgressStatuses"><a ng-click="filterStatus(status)">{{status}}</a></li>
                <li class="divider"></li>
                <li ng-repeat="status in finishedStatuses"><a ng-click="filterStatus(status)">{{status}}</a></li>
            </ul>
        </div>
    </div>

</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Facture</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in filteredInvoices" ng-class="getStatusStyle(item)">

        <td><h4>{{ item.invoice.title }} ({{ item.invoice.invoiceNumber }})</h4>
            <ul>
                <li><strong>Client : </strong>{{ item.invoice.client.name }} </li>
                <li><strong>Montant HT : </strong>{{ item.totalHT() }}€</li>
                <li><strong>Montant TTC : </strong>{{ item.totalTTC() }}€</li>
            </ul>
        <td>
            <ul>
                <li data-ng-repeat="status in item.statuses"><strong>{{ status.name }}</strong> le {{ status.createdAt | date:'dd/MM/yyyy' }}</li>
            </ul>
        </td>
        <td>
            <p><a ng-click="openInvoiceModal(item)">Afficher la facture (PDF)</a></p>
            <p><button class="btn btn-primary" ng-click="openAffectationDialog(item)" ng-show="isCreated(item)">Affecter la facture</button></p>
            <p><button class="btn btn-primary" ng-click="openReallocationDialog(item)" ng-show="!isCreated(item) && !isCanceled(item)">Réaffecter la facture</button></p>
            <p><button class="btn btn-primary" ng-click="revert(item)" ng-show="isPaid(item)">Le paiement a échoué</button></p>
            <p><button class="btn btn-primary" ng-click="pay(item)" ng-show="isAllocated(item)">La facture a été payée</button></p>
            <p><button class="btn btn-primary" ng-click="cancel(item)" ng-confirm-click="Êtes-vous sur de vouloir annuler votre facture ?" ng-show="!isPaid(item) && !isCanceled(item)">Annuler la facture</button></p>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="affectationModal" tabindex="-1" role="dialog" aria-labelledby="affectationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                <h4 class="modal-title" id="affectationModalLabel">Propositions d'affectations à un budget</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Budget</th>
                        <th>Propriétaire</th>
                        <th>Montant</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="item in affectations">
                        <td>
                            <select ng-model="item.account" ng-options="account.fullName for account in accounts">
                                <option value="">---- Non affecté -----</option>
                            </select>
                        </td>
                        <td>
                            <span ng-show="item.account.stakeholder.user.fullName">{{ item.account.stakeholder.user.fullName }}</span>
                            <span ng-show="item.account.stakeholder.underlying">{{ item.account.stakeholder.underlying }}</span>
                        </td>
                        <td><input type="number" ng-model="item.value"/></td>
                        <td>
                            <div class="col-md-1" ng-show="item.addButtonVisible">
                                <button type="button" class="add-task-btn btn btn-primary btn-sm" ng-click="addAffectationLine()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div class="col-md-1" ng-show="item.deleteButtonVisible">
                                <button type="button" class="delete-task-btn btn btn-danger btn-sm" ng-click="deleteAffectationLine()">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" ng-click="affect(affectations, invoice)">Sauvegarder les changements</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
            </div>
            <div class="modal-body">
                <object width="100%" height="1200" type="application/pdf" data="{{invoicePdfUrl}}" id="pdf_content">
                    <p>Votre navigateur ne permet pas d'afficher les PDF</p>
                </object>
            </div>
        </div>
    </div>
</div>