<h2>Liste des factures payées</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Project</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in invoices | filter:search ">

        <td>{{ item.invoice.title }} ({{ item.invoice.invoiceNumber }})</td>
        <td>
            <ul>
                <li data-ng-repeat="status in item.statuses"><strong>{{ status.name }}</strong> le {{ status.createdAt| date:'dd/MM/yyyy' }} par {{ status.email }}</li>
            </ul>
        </td>
        <td>
            <p><a href="/api/invoices/document/{{ item._id.$oid }}">Voir la facture (PDF)</a></p>
            <p><button class="btn btn-primary" ng-click="revert(item)">Le paiement a échoué</button></p>
        </td>
    </tr>
    </tbody>
</table>