<h2>Ajouter une contribution</h2>
<div id="contribution_page" data-ng-controller="CreateCtrl" class="row">
    <form action="/api/contributions" method="POST" role="form">
        <div class="col-md-12">
            <div class="form-group">
                <label for="selectedContribution">Pré-remplir avec :
                    <select ng-model="selectedContribution"
                            ng-options="contribution.id as contribution.name for contribution in contributionTemplates">
                        <option value="">---- Je m'en tape -----</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group form-inline">
                <label for="member">Pour qui ? pour toi ? </label>
                <select ng-model="selectedMember"
                    ng-options="member._id.$oid as (member.fullName +' ('+member.email+')') for member in members">
                </select>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group form-inline">
                <label for="title">Pourquoi tu veux des points ?</label>
                <input ng-model="selectedContribution.title" type="text" class="form-control" name="title" id="title" placeholder="Qu'as-tu fait mec ?">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="points">Bon ok combien ?</label>
                <input ng-model="selectedContribution.points" type="number" class="form-control" name="points" id="points">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Vas y balance les points !</button>
    </form>
</div>