@(user: securesocial.core.BasicProfile)(implicit request: play.api.mvc.RequestHeader, env: securesocial.core.RuntimeEnvironment[securesocial.core.BasicProfile], flash: Flash)

@main(user) {
    <div data-ng-controller="ClientController">
        <div class="row">
          <div class="form-group">
            <label for="clientNameSearch">Sélectionner un client</label>
            <lt-client-search client="client"></lt-client-search>
          </div>
        </div>
        <div class="row">

            <div class="panel panel-primary">
                <div class="panel-heading" ng-if="client._id">Modification de "{{ client.name }}"</div>
                <div class="panel-heading" ng-if="!client._id">Création d'un nouveau client</div>
                <div class="panel-body">
                    <form ng-submit="handle(client)" role="form">
                        <input type="hidden" ng-model="client._id"/>

                        <div class="form-group">
                            <label for="clientName">Nom du client</label>
                            <input type="text" class="form-control" name="clientName" ng-model="client.name" id="clientName" placeholder="Nom du client">
                        </div>

                        <div class="form-group">
                            <label for="clientAddress">Adresse du client</label>
                            <input type="text" class="form-control" name="clientAddress" ng-model="client.address" id="clientAddress" placeholder="Adresse du client">
                        </div>

                        <div class="form-group">
                            <label for="clientCity">Ville du client</label>
                            <input type="text" class="form-control" name="clientCity" id="clientCity" ng-model="client.city" placeholder="Ville du client">
                        </div>

                        <div class="form-group">
                            <label for="clientPostalcode">Code postal du client</label>
                            <input type="text" class="form-control" name="clientPostalCode" id="clientPostalcode" ng-model="client.postalCode" placeholder="Code postal du client">
                        </div>

                        <div class="form-group">
                            <label for="clientCountry">Pays du client</label>
                            <input type="text" class="form-control" name="clientCountry" id="clientCountry" ng-model="client.country" placeholder="Pays du client">
                        </div>

                        <button type="submit" ng-if="client._id" class="btn btn-success">Sauver les modifications</button>
                        <button type="submit" ng-if="!client._id" class="btn btn-success">Ajouter un nouveau client</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
}
